nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(206, 12, 245);
    color: white;
    height: 60px;
    padding: 0 20px;
    font-weight: bold;
}
nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
nav ul li{
    margin: 0 25px;
    cursor: pointer;

}